{% extends 'bank_app/base.html' %} {% load humanize %} {% block content %}

<a href="{% url 'bank_app:index' %}"></a>

<h1>user: {{ user }}</h1>

<br />

<h1>Accounts:</h1>

<div>
  {% for account in accounts %}

  <p>Account id: {{ account.id }} // Name: {{ account.name }} // $ {{ account.balance|floatformat:2|intcomma }}</p>
 
  <a href="{% url 'bank_app:sendmail' account_id=account.pk %}">send bank statement for account</a>
 
  {% endfor %}
</div>

<h2>Transactions: 📒</h2>

{% for ledger in ledgers %}

<div style="font-style: italic; margin: 10px 0">
	Account: {{ ledger.account }} <br>  Amount: {{ ledger.amount }} <br>  Message:  {{ ledger.text }}  <br> Time:  {{ ledger.timestamp }}
</div>

{% endfor %} {% endblock %}
