<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %} <link rel="stylesheet" type="text/css" href="{% static "main/css/main.css" %}"> <link rel="stylesheet"
    type="text/css" href="{% static "bank_app/css/main.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css" />
    <title>Bank</title>
  </head>
  <body>
    <header>
      {% with url_name=request.resolver_match.url_name %}
      <nav>
        <li>
          <a href="{% url 'bank_app:index' %}" class="{% if url_name == 'index' %}active{% endif %}">Home 🏠</a>
        </li>
        <li>
          <a href="{% url 'bank_app:transfer_money' %}" class="{% if url_name == 'transfer_money' %}active{% endif %}">Transfer 💸</a>
        </li>
        <li>
          <a href="{% url 'bank_app:make_loan' %}" class="{% if url_name == 'make_loan' %}active{% endif %}">Loans 💰</a>
        </li>
        <li>
          <a href="{% url 'bank_app:crypto' %}" class="{% if url_name == 'crypto' %}active{% endif %}">Crypto Corner 🐍</a>
        </li>
        {% if costumer.is_employee %}
        <li>
          <a href="{% url 'bank_app:add_user' %}" class="{% if url_name == 'add_user' %}active{% endif %}">Employee Zone 👨‍💼</a>
        </li>
        {% endif %}
        {% if costumer.is_employee is False %}
        {% if url_name != 'room' %}
        <li class="{% if url_name == 'support_chat' %}displayNone{% endif %}">
          <form action="{% url 'bank_app:support_chat' %}" method="POST">
            {% csrf_token %}
            <button>Support Chat 💬</button>
          </form>
        </li>
        {% endif %}
        {% endif %}
        <li>
          <a href="{% url 'bank_app:logout' %}">Logout 👋</a>
        </li>
      </nav>
      {% endwith %}
    </header>

    {% if costumer.is_employee %}
    {% with url_name=request.resolver_match.url_name %}
    {% if url_name != 'room' %}
    <h2>Customer support - Notification Center ⚠️</h2>
    <hr>
    <div class="customer-support">
     
    </div>

    
    <script>

      const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/bank/chat/" + "employeeNotification" + "/");
      console.log(chatSocket);
 
      chatSocket.onopen = function (e) {
      console.log("Websocket up and running, ready for messages captain");
      };

      chatSocket.onmessage = function (e) {
      console.log("new notification!");
      const data = JSON.parse(e.data);
      console.log(data);
      let supportTicket = `<div id="${data.message}" class="employee-notification"> <p> User <strong>${data.username}</strong> has requested support <u>${new Date().toLocaleTimeString('dk-DK', { hour12: false })}</u> at <i><a href="http://localhost:8000/bank/chat/${data.message}">http://localhost:8000/bank/chat/${data.message}</a></i></div>`;
      document.querySelector(".customer-support").insertAdjacentHTML("afterbegin", supportTicket);
      };
    </script>
    {% endif %}
    {% endwith %}
    
    {% endif %}
  

    {% block content %} {% endblock %} {% block footer %} {% endblock %}
    <script type="text/javascript" src="{% static "bank_app/js/script.js" %}"></script>
  </body>
</html>
