{% extends "bank_app/base.html" %} {% block content %}

<h2>Crypto Corner 🐍</h2>

<div class="crypto-table-top crypto-table">
  <div class="abb">Abb.</div>
  <div class="name">Name</div>
  <div>Value</div>
  <div>Change (24h)</div>
  <div>Peak value</div>
</div>

<div class="crypto-content">
  {% for element in coinsdata %} {% load humanize %}

  <div class="crypto-table">
    <img src="{{ element.iconUrl }}" alt="" />
    <div class="abb">{{ element.symbol }}</div>
    <div class="name">{{ element.name }}</div>
    <div>{{ element.price|floatformat:2|intcomma }} $</div>
    <div class="trend">{{ element.change }} %</div>
    <div>{{ element.allTimeHigh.price|floatformat:2|intcomma }} $</div>
  </div>

  {% endfor %}
</div>

<script>
  function numberWithCommas(x) {
    var float = parseFloat(x).toFixed(2);
    var parts = float.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
  }

  function color(x) {
    float = parseFloat(x);
    if (float > 0) {
      return `<div class="trend green">${float} %</div>`;
    }

    if (float == 0) {
      return `<div class="trend gray">${float} %</div>`;
    }

    if (float < 0) {
      return `<div class="trend red">${float} %</div>`;
    }
  }

  var socket = new WebSocket("ws://localhost:8000/ws/coins/");

  socket.onopen = function(event) {
    console.log("opened");
    console.log(event);
  };

  socket.onmessage = function(event) {
    console.log("updated");
    var data = JSON.parse(event.data);
    var cryptocontent = document.querySelector(".crypto-content");
    cryptocontent.innerHTML = "";

    data.forEach(elm => {
      var row = `
      <div class="crypto-table">
        <img src="${elm.iconUrl}" alt="" />
        <div class="abb">${elm.symbol}</div>
        <div class="name">${elm.name}</div>
        <div>${numberWithCommas(elm.price)} $</div>
        ${color(elm.change)}
        <div>${numberWithCommas(elm.allTimeHigh.price)} $</div>
      </div>
      `;

      cryptocontent.insertAdjacentHTML("beforeend", row);
    });
  };
</script>

{% endblock %}
