{% extends "bank_app/base.html" %} {% block content %} {% if costumer.is_employee %}

<h3>Employee Zone ✍️</h3>

<h2>Add user</h2>
<form action="{% url 'bank_app:add_user' %}" method="POST">
  {% csrf_token %}
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="firstname" placeholder="firstname" />
  <input type="text" name="lastname" placeholder="lastname" />
  <input type="text" name="password" placeholder="password" />
  <input type="text" name="email" placeholder="email" />
  {{ costumer_form }}
  <button>Add User</button>
</form>

<h2>All users</h2>

<div class="gridx3" style="display: grid; grid-template-columns: 1fr 1fr 1fr">
  {% for user in users %}

  <div class="user">
    <h4>{{ user.username }}</h4>

    <a href="{{ user.id }}">Account details</a>

    <form action="{% url 'bank_app:change_rank' %}" method="POST">
      {% csrf_token %}
      <div style="display: flex">
        <input type="radio" id="gold" name="rank" value="Gold" />
        <label for="gold">Gold</label>
        <input type="radio" id="silver" name="rank" value="Silver" />
        <label for="silver">Silver</label>
        <input type="radio" id="basic" name="rank" value="Basic" />
        <label for="basic">Basic</label>
        <button>Update</button>
      </div>
      <input type="hidden" name="pk" value="{{ user.pk }}" />
    </form>

    <form action="{% url 'bank_app:add_account' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="account" placeholder="account name" />
      <input type="hidden" name="pk" value="{{ user.pk }}" />
      <button>Add new</button>
    </form>
  </div>

  <div style="margin: 15px 0"></div>

  {% endfor %}
</div>
{% if users.has_previous %}

<a href="{% url 'bank_app:add_user'%}?page={{users.previous_page_number}}">Previous Users</a>
{% endif %} {% if users.has_next %}
<a href="{% url 'bank_app:add_user'%}?page={{users.next_page_number}}">Next Users</a>
{% endif %} {% endif %} {% endblock %}
