{% extends "bank_app/base.html" %} {% block content %} {% load humanize %}

<h1>Bank of Cold Friday 🤑</h1>
<hr />

<p>Welcome <strong>{{ user }}</strong> 🎉 - <a href="{% url 'bank_app:logout' %}">Log out</a></p>
<a href="{% url 'two_factor:profile' %}">2 factor authentication settings </a>

<p>Your rank: <strong>{{ costumer.rank }} </strong></p>

<hr />

<h3>User Zone 👨</h3>

<a href="{{ user.id }}">My account details</a>

<h2>My Loans</h2>

{% for loan in loans %}

<p>Loan id: {{loan.id}} - {{ loan.name }} // {{ loan.balance|floatformat:2|intcomma }} $</p>

{% endfor %}

<hr />

<h2>My Accounts</h2>

{% for account in accounts %}

<p>Account id: {{account.id}} - {{ account.name }} // {{ account.balance|floatformat:2|intcomma }} $</p>

{% endfor %} {% endblock %}
