{% extends "bank_app/base.html" %} {% block content %} {% load humanize %} {% if costumer.can_make_loans %} {{ message }}

<div class="container">
  <div class="loans-overview">
    <h2>My Loans</h2>

    {% for loan in loans %}

    <p>Loan id: {{loan.id}} - {{ loan.name }} // $ {{ loan.balance|floatformat:2|intcomma }}</p>

    {% endfor %}
  </div>

  <div class="accounts-overview">
    <h2>My Accounts</h2>

    {% for account in accounts %}

    <p>Account id: {{account.id}} - {{ account.name }} // $ {{ account.balance|floatformat:2|intcomma }}</p>

    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="create-loan">
    <h2>Create new loan 📝</h2>

    <form action="{% url 'bank_app:make_loan' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="loan_name" placeholder="Loan name" />

      <label>Transfer money to:</label>
      <select name="account_name" placeholder="My accounts">
        {% for account in accounts %}
        <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>

      <input type="text" name="text" placeholder="Loan comment" />
      <input type="number" name="amount" placeholder="Amount" />
      <button>Make loan</button>
    </form>
  </div>

  <div class="pay-loan">
    <h2>Pay off loan 💸💰</h2>

    <form action="{% url 'bank_app:pay_loan' %}" method="POST">
      {% csrf_token %}
      <label>My accounts:</label>
      <select name="from_account" placeholder="My accounts">
        {% for account in accounts %}
        <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>

      <input type="text" name="regnr" placeholder="Receiver port (port of this running django instance)" />

      <label>My loans:</label>
      <select name="to_account" placeholder="My accounts">
        {% for loan in loans %}
        <option value="{{ loan.id }}">{{ loan.name }}</option>
        {% endfor %}
      </select>

      <input type="text" name="text" placeholder="Transaction comment" />
      <input type="number" name="amount" placeholder="Amount" />
      <button>Send</button>
    </form>
  </div>
</div>

{% else %}

<h2>Sorry, rank too low to make loans</h2>

{% endif %} {% endblock %}
