{% extends "bank_app/base.html" %} {% block content %}
<div id="chatlog"></div>
<br />
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
  <input id="chat-message-input" type="text" size="100" /><br />
  <input id="chat-message-submit" type="button" value="Send" />
</div>
{{ room_name|json_script:"room-name" }} {{ request.user.username|json_script:"user_username" }}
<script>
  const roomName = JSON.parse(document.getElementById("room-name").textContent);
  const user_username = JSON.parse(document.getElementById("user_username").textContent);
  console.log(user_username);
  const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/bank/chat/" + roomName + "/");

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    let chatMessage = `<div class="chat-message"> <p>(${new Date().toLocaleTimeString("dk-DK", { hour12: false })}) <strong>${data.username}</strong>: ${data.message}</div>`;
    document.querySelector("#chatlog").insertAdjacentHTML("beforeend", chatMessage);
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    chatSocket.send(
      JSON.stringify({
        message: message,
        username: user_username,
      })
    );
    messageInputDom.value = "";
  };
</script>

{% endblock %}
