{% extends "bank_app/base.html" %} {% block content %} {% load humanize %}

<div class="container">
  <div class="accounts-overview">
    <h2>My Accounts</h2>

    {% for account in accounts %}

    <p>Account id: {{account.id}} - {{ account.name }} // $ {{ account.balance|floatformat:2|intcomma }}</p>

    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="transfer">
    <h2>Transfer Money 💸💰</h2>

    <form action="{% url 'bank_app:transfer_money' %}" method="POST">
      {% csrf_token %}
      <label>My accounts:</label>
      <select name="from_account" placeholder="My accounts">
        {% for account in accounts %}
        <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>

      <input type="text" name="regnr" placeholder="Receiver port (port of this running django instance)" />
      <input type="text" name="to_account" placeholder="Receiver account id" />
      <input type="text" name="text" placeholder="Transaction comment" />
      <input type="number" name="amount" placeholder="Amount" />
      <button>Send</button>
    </form>
  </div>

  <div class="external">
    <h2>External Money Transfer ❗️💸💰</h2>

    <form action="{% url 'bank_app:external_transfer' %}" method="POST">
      {% csrf_token %}
      <label>My accounts:</label>
      <select name="from_account" placeholder="My accounts">
        {% for account in accounts %}
        <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>

      <input type="text" name="to_regnr" placeholder="Receiver port (fx 4000)" maxlength="4" />
      <input type="text" name="to_account" placeholder="Receiver account id" />
      <input type="text" name="text" placeholder="Transaction comment" />
      <input type="number" name="amount" placeholder="Amount" />
      <button>Send</button>
    </form>
  </div>
</div>

{% endblock %}
