.crypto-table {
  display: flex;
  align-items: center;
}

.crypto-table-top {
  max-width: 100px;
  min-width: 100px;
  font-weight: bold;
  margin-left: 52px;
}

.crypto-table > div {
  max-width: 130px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  min-width: 130px;
}

.crypto-table > div {
  max-width: 130px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  min-width: 130px;
}

.crypto-table .abb {
  min-width: 100px;
  max-width: 100px;
}

.crypto-table .name {
  white-space: nowrap;
  overflow: hidden;
}

.crypto-table > img {
  width: 30px;
  max-height: 30px;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  padding: 4px 10px;
}

header {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  margin-right: 10px;
}

nav a {
  padding: 10px 10px;
  background-color: lightgray;
  border-radius: 5px;
  color: #000;
  transition: 0.1s;
}

nav button {
  padding: 5px 10px;
  background-color: lightgray;
  border-radius: 5px;
  color: #000;
  transition: 0.1s;
  margin-top: -5px;
}

nav a:hover,
nav button:hover {
  text-decoration: none;
  background-color: rgb(235, 235, 235);
}

#chat-message-input {
  border: 2px solid grey;
}

#id_rank {
  display: flex;
  padding: 0;
}

#id_is_employee {
  margin-top: 1rem;
}

.employee-notification {
  background-color: lightcyan;
  border-radius: 5px;
  border: lightblue 3px solid;
  margin: 5px 0;
  padding: 0px 5px;
  width: min-content;
}

#chatlog {
  border: 2px solid grey;
  background-color: #efefef;
  height: 70vh;
  width: auto;
  border-radius: 6px;
  font: 400 13.3333px Arial;
  margin-bottom: 6px;
  padding: 10px;
  overflow-y: auto;
}

.active {
  padding-top: 14px;
  background-color: lightgreen;
  font-weight: 700;
  transition: 0.1s;
}

.active:hover {
  background-color: rgb(123, 204, 123);
}

.container {
  display: flex;
  flex-direction: row;
}

.red {
  color: red;
}

.green {
  color: green;
}

.gray {
  color: gray;
}

.loans-overview,
.accounts-overview,
.create-loan,
.pay-loan,
.transfer {
  width: 300px;
}

.external {
  width: 350px;
}
